.App {
    overflow: hidden;
    background-image: url(./images/space.jpg);
    text-align: center;
  }
  
  .App-logo {
    height: 8vmin;
  }
  
  .App-logo {
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 3s linear 0s normal none infinite running rot;
  }
  @keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .App-header {
    background-color: rgb(40,44,52,0.7);
    display: flex;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .App-main {
    display: flex;
    flex-direction: initial;
  }
  
  .App-nav {
  padding-left: 40px;
  padding-top: 20px;
  width: 16vw;
  }
  
  .App-footer {
    padding: 15px;
    color: white;
    opacity: 0.5;
    font-size: 0.85em;
  }